<h3>New todo</h3>
<%= flash[:notice] %>

<div>
  <fieldset>
    <legend>Submit a new todo item</legend>
    <%= form_for :todo, :url => {:action => "create"} do |form| %>
      <div>
        <%= form.label :deadline %><br />
        <%= form.datetime_select :deadline %>
      </div>
      <div>
        <%= form.label :todo %><br />
        <%= form.text_area :todo %>
      </div>
      <div>
        <%= form.label :public %><br />
        <%= form.check_box :public %>
      </div>
      <div>
        <%= form.label :done %><br />
        <%= form.check_box :done %>
      </div>
      <%= form.submit "Create" %>
    <% end %>
  </fieldset>
</div>
<%= link_to "Back", :back %>
