<div>
  <h3>TODO list</h3>
  <table class="listbox">
    <% for t in @todos %>
      <%= content_tag_for(:tr, t) do %>
        <td><%= t.deadline %></td>
        <td><%= t.todo %></td>
        <td>
          <% if t.done %>
            <input type="checkbox" disabled="disabled" checked="checked" />
          <% else %>
            <input type="checkbox" disabled="disabled" />
          <% end %>
        </td>
        <% if logged_in? %>
          <td><%= link_to image_tag("edit.png", :border=>0), url_for(:controller => "todos", :action => "edit", :id=>t.id) %></td>
          <td><%= link_to image_tag("drop.png", :border=>0), url_for(:controller => "todos", :action => "delete", :id=>t.id) %></td>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
<%= will_paginate @todos %>
