<div>
  <h3>TODO list</h3>
  <table class="listbox">
    <% for t in @todos %>
      <%= content_tag_for(:tr, t) do %>
        <td><%= t.deadline %></td>
        <td><%= t.todo %></td>
        <% if t.done %>
          <td><%= link_to "Edit completed", url_for(:controller => "todos", :action => "edit", :id=>t.id) %></td>
        <% else %>
          <td><%= link_to "Edit pending", url_for(:controller => "todos", :action => "edit", :id=>t.id) %></td>
        <% end %>
        <td><%= link_to "Delete", url_for(:controller => "todos", :action => "delete", :id=>t.id) %></td>
      <% end %>
    <% end %>
  </table>
</div>
<%= will_paginate @todos %>
