<!DOCTYPE html>
<html>
<head>
  <title>Todomgr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header" align="center">
    <%= link_to "Active todos", url_for(:controller => "todos", :action => "show") %>
    | <%= link_to "Histrory", url_for(:controller => "todos", :action => "show") + "?history=1" %>
    <% if logged_in? %>
      | <%= link_to "Submit todo item", url_for(:controller => "todos", :action => "new") %><br />
    <% end %>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="menu">
    <%= render 'layouts/searchbox' %>
    <%= flash[:notice] %><br />
    <% if logged_in? %>
      <%= link_to "Profile", url_for(:controller => "users", :action => "edit", :id=>session[:user]) %><br />
      <%= link_to "Logout", url_for(:controller => "session", :action => "destroy") %><br />
    <% else %>
      <%= render 'layouts/loginform' %>
    <% end %>
  </div>
  <div id="footer">
    Copyright &copy; 2011 Miklos Vajna
  </div>

</body>
</html>
