<!DOCTYPE html>
<html>
<head>
  <title>Todomgr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    Header
  </div>
  <div id="menu">
    <% if logged_in? %>
      <%= link_to "Profile", url_for(:controller => "users", :action => "edit") %><br />
      <%= link_to "Logout", url_for(:controller => "sessions", :action => "destroy") %><br />
      <%= link_to "Submit todo item", url_for(:controller => "todos", :action => "new") %><br />
    <% else %>
      <%= render 'layouts/loginform' %>
    <% end %>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
    Copyright &copy; 2011 Miklos Vajna
  </div>

</body>
</html>
